

.image-card {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px; /* ajuste conforme necessário */
}

.image-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-card:hover img {
  transform: scale(1.5); /* ajusta o nível de zoom conforme necessário */
}

.zoomed-image-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 150px; /* largura da imagem ampliada */
  height: 150px;
  z-index: 10;
  border: 1px solid #ccc;
  background-color: white;
}

.zoomed-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}